* {
    box-sizing: border-box;
  }
nav a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
nav a:hover{
    font-weight: bold;
}
.profile header{
    text-align: center;
}
.profile img {
    width: 25vw;
}
.profile section{
    width: 25%;
}
table{
    border-collapse: separate;
    text-align: center;
}
table tr td:first-child{
    font-weight: bold;
}
table tr td:nth-child(2){
    text-align: left;
}
footer{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    background-color: cornflowerblue;
    padding: 50px 0;
    color: white;
}
.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile{
    text-align: center;
}

.profile img{
    width: 200px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}
nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }
 nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
 }
 nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }
 #content{
    float: left;
    width: 75%;
 }
 #content figcaption, #content h1, #content img{
     padding-left: 20px;
 }

 aside {
    float: right;
    width: 25%;
    padding-left: 20px;
  }

  main {
    padding: 20px;
    overflow: auto;
  }

  @media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
 }
 header{
     display: inline;
 }